extends ../layout

block content
  .container
    h1.page-header 회원 정보
          
    ul
      li 이름: #{user.name}
      li 이메일: #{user.email}
      if user.facebook
        li Facebook 
          //img.img-circle(src='#{user.facebook.photo}')
    table.table.table-striped.table-bordered 내 호스팅:
      thead
        tr
          th 제목
          th 요약
          th
      tbody
        each host in hosts
          tr
            td= host.title
            td= host.simpleInfo
            td
              a.btn.btn-xs.btn-default(href='/hosts/#{host._id}/show') 관리
    table.table.table-striped.table-bordered 내 예약 신청:
      thead
        tr
          th 제목
          th 호스트
          th 체크인
          th 체크아웃
          th 인원
          th 예약상태
      tbody
        each reserv in reservs
          tr
            td= reserv.title
            td= reserv.hostName
            td= reserv.checkIn
            td= reserv.checkOut
            td= reserv.people
            td= reserv.isReserv
    hr
    p
      a.btn.btn-default(href='/users/#{user._id}/edit') 수정
      | 
      a.btn.btn-default(href='/users/#{user._id}?_method=DELETE') 삭제
