extends ../layout

block content
  .container
    h1.page-header 회원 정보
          
    ul
      li 이름: #{user.name}
      li 이메일: #{user.email}
      if user.facebook
        li Facebook 
          //img.img-circle(src='#{user.facebook.photo}')
    table.table.table-striped.table-bordered 내 호스팅:
      thead
        tr
          th 제목
          th 요약
          th 예약
          th
      tbody
        each host in hosts
          tr
            td= host.title
            td= host.simpleInfo
            td 2명
            td
              a.btn.btn-xs.btn-default(href='/hosts/#{host._id}/show') 관리
      //- li 내 예약 신청:
        
    hr
    p
      a.btn.btn-default(href='/users/') 목록
      | 
      a.btn.btn-default(href='/users/#{user._id}/edit') 수정
      | 
      a.btn.btn-default(href='/users/#{user._id}?_method=DELETE') 삭제
