extends ../layout

block content
  .container
    h1.page-header 호스팅 정보 수정
    form(action='/hosts/#{host._id}?_method=PUT', method='POST')
      label= host.hostName
      .form-group      
        label(for='title') 제목
        input.form-control(type='text', id='title', name='title', placeholder='제목', value=host.title)
      .form-group
        label(for='simpleInfo') 설명
        input.form-control(type='text', id='simpleInfo', name='simpleInfo', placeholder='설명', value=host.simpleInfo)
      .form-group
        label(for='city') 도시
        input.form-control(type='text', id='city', name='city', placeholder='도시', value=host.city)
      .form-group
        label(for='address') 주소
        input.form-control(type='text', id='address', name='address', placeholder='주소', value=host.address)
      .form-group
        label(for='cost') 요금
        input.form-control(type='text', id='cost', name='cost', placeholder='요금', value=host.cost)
      .form-group
        label(for='useful') 편의시설
        input.form-control(type='text', id='useful', name='useful', placeholder='편의시설', value=host.useful)
      .form-group
        label(for='rule') 이용규칙
        input.form-control(type='text', id='rule', name='rule', placeholder='이용규칙', value=host.rule)  
      div.form-actions
        a.btn.btn-default(href='javascript:window.history.back();') 뒤로 
        | 
        button.btn.btn-primary(type='submit') 수정
