extends ../layout

block content
  .container
    h1.page-header 여행지 정보
    
    table.table.table-striped.table-bordered
      thead
        tr
          th 제목
          th 호스트
          th 도시
          th 요금
          th
      tbody
        each host in hosts
          tr
            td= host.title
            td= host.hostName
            td= host.simpleInfo
            td= host.cost
            td
              a.btn.btn-xs.btn-default(href='/hosts/#{host._id}/reserv') 예약
              | 
              a.btn.btn-xs.btn-default(href='/hosts/#{host._id}') 정보
    a.btn.btn-primary(href='/hosts/new') 호스팅하기
